WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_MODEL_ID=ibm/granite-4-h-small

SERIAL_PORT=
SERIAL_BAUD_RATE=115200
REFERENCE_DISTANCE_CM=20.0
DATABASE_PATH=waveguard.db
TIGER_DATABASE_URL=
